body{
  padding: 25px;
  background-color: beige;
}

.comment-form{
  background-color: lightblue;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
.comment-form button{
  font-family: inherit;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.comment-form button:hover{
  background-color: rgb(200, 201, 202);
}

.comment-form label{
  vertical-align: top;
  min-width: 90px;
  display: inline-block;
}
textarea{
  resize: none;
  height: 150px;
}
textarea,input{
  width: 80%;
}

.comment {
  border: solid 1px black;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: lightsteelblue;
}
.comment > p:first-of-type{
  font-style: italic;
  display:flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color: rgb(219, 165, 26);
}
a:hover{
  background-color: rgb(219, 165, 26);
  color: black;
}